@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #3689fc;
}

button {
  background-color: #333;
  border: 0;
  border-radius: 50%;
  box-sizing: initial;
  color: #fff;
  font-size: 1.5rem;
  height: 70px;
  margin: 5px;
  user-select: none;
  width: 70px;
}

button:hover {
  background-color: #737373;
}

header {
  margin: 16px 0;
}

main {
  background-color: #000;
  border-radius: 12px;
  margin-bottom: 32px;
  padding: 12px 0;
}

footer {
  font-size: 1.25rem;
  text-align: center;
}

footer .icons {
  font-size: 2.5rem;
  margin-bottom: 8px;
  user-select: none;
}

.calculator {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: flex-end;
  touch-action: none;
  width: 340px;
}

.display {
  align-items: flex-end;
  color: #fff;
  display: flex;
  font-size: 3.2rem;
  height: 150px;
  justify-content: flex-end;
  margin-bottom: 16px;
  width: 270px;
}

.display.shrink {
  font-size: 2.5rem;
}

.row {
  display: flex;
}

.operator {
  background-color: #f2a33b;
  font-size: 1.7rem;
}

.operator:hover {
  background-color: #f2c996;
}

.operator.active {
  background-color: white;
  color: #f2a33c;
}

.special {
  background-color: #a6a5a6;
  color: #000;
}

.special:hover {
  background-color: #d9d9d9;
}

#zero {
  border-radius: 50px;
  text-align: left;
  text-indent: 29px;
  width: 150px;
}

@media (max-width: 600px) {
  main {
    margin-bottom: 16px;
  }

  button {
    font-size: 1.25rem;
    height: 60px;
    width: 60px;
  }

  .calculator {
    height: 520px;
    width: 310px;
  }

  .display {
    width: 240px;
  }

  #zero {
    text-indent: 25px;
    width: 130px;
  }

  footer p {
    font-size: 1.1rem;
  }

  footer .icons {
    font-size: 2rem;
  }
}
